/* SITE */

@font-face {
    font-family: heartwell;
    src: url("../fonts/Heartwell.otf") format("opentype");
}

body{
    font-family: Raleway;
    color: #311023;
}

h1, h2, h3, h4{
    font-family: 'Dancing Script', cursive;
    display: inline;
    color: #7f878c;
}

.other-bg h1{
    font-family: 'heartwell', cursive;
    display: inline;
    color: white;
    transform: rotate(340deg);
}

@media only screen and (min-width : 1px) {
    .other-bg h1{
        font-size: 65px;
    }
    
    .other-bg{
        height: 250px;
    }
}

@media only screen and (min-width : 480px) {
    .other-bg h1{
        font-size: 100px;
    }
    
    .other-bg{
        height: 400px;
    }
}


@media only screen and (min-width : 768px) {
    .other-bg h1{
        font-size: 125px;
    }
    
    .other-bg{
        height: 450px;
    }
}


@media only screen and (min-width : 992px) {
    .other-bg h1{
        font-size: 150px;
    }
    
    .other-bg{
        height: 500px;
    }
}


@media only screen and (min-width : 1200px){
    .other-bg h1{
        font-size: 175px;
    }
    
    .other-bg{
        height: 550px;
    }
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.img-center{
    margin: 0 auto;
}

.pad-top-20{
   padding-top: 20px;
}

.pad-bottom-20{
   padding-bottom: 20px;
}

.pad-top-10{
   padding-top: 10px;
}

.pad-top-5{
    padding-top: 5px;
}

.pad-bottom-5{
    padding-bottom: 5px;
}

.pad-bottom-10{
   padding-bottom: 10px;
}

ul{
    list-style: none;
}

ul > li{
    padding-top: 2px;
    padding-bottom: 2px;
}

.border-bottom{
    border-bottom: 1px solid #311023;
}

/* NAV BAR */

.brand-link{
    text-decoration: none;
    color: #311023
}

.top-nav{
    background-color:#9AD3BB;
    color: #311023;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #311023;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #311023;
}

h1,h2,h3.h4.nav-header{
    color:#311023;
}

/* Header Nav Links */
a.header-link,a.header-link:visited,a.header-link:hover,a.header-link:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	position:relative;
  transition:0.5s color ease;
	text-decoration:none;
}
a.header-link:hover{
	color: #311023;
}
a.header-link.before:before,a.header-link.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}

/* Padding between decoration and text */
a.header-link.before:before{
  top:-0.25em;
}
a.header-link.after:after{
  bottom:-0.25em;
}

/* Decoration style */
a.header-link.before:before,a.header-link.after:after{ 
  height:5px;
  height:0.12rem;
  width:0;
  background:#311023;
}
a.header-link:before,a.header-link:after{
  left:50%;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
}
a.header-link.before:hover:before,a.header-link.after:hover:after{
  width:100%;
}

/* Overlay Nav Links */

a.overlay-link,a.overlay-link:visited,a.overlay-link:hover,a.overlay-link:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	position:relative;
  transition:0.5s color ease;
	text-decoration:none;
}
a.overlay-link:hover{
	color: #311023;
}
a.overlay-link.before:before,a.overlay-link.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}

/* Padding between decoration and text */
a.overlay-link.before:before{
  top:-0.25em;
}
a.overlay-link.after:after{
  bottom:-0.25em;
}

/* Decoration style */
a.overlay-link.before:before,a.overlay-link.after:after{ 
  height:5px;
  height:0.12rem;
  width:0;
  background:#311023;
}
a.overlay-link:before,a.overlay-link:after{
  left:50%;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
}
a.overlay-link.before:hover:before,a.overlay-link.after:hover:after{
  width:100%;
}

/* big nav links */

.big-nav > .big-nav-link{
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.top-nav > .small-nav-link {
    text-align: right;
    padding-right:15px;
}

.top-nav > .small-nav-link a{
    font-size: 2em;
    text-decoration:  none;
    color: #311023;
}

.big-nav > .big-nav-link a{
    text-decoration:  none;
    color:            #311023;
}

.big-nav > .big-nav-link a:link{
    text-decoration:  none;
    color:            #311023;
}

.big-nav > .big-nav-link a:visited{
    text-decoration:  none;
    color:            #311023;
}

.big-nav > .big-nav-link a:hover{
    text-decoration:  none;
    color:            #311023;
}

.big-nav > .big-nav-link a:active{
    text-decoration:  none;
    color:            #311023;
}

/* overlay nav */

#fullscreen{ 
    height: 100%;
    width: 100%;
    position: absolute; 
    z-index: 999; 
    background-color: #9AD3BB;
    color: #311023;
    display: none;
}
.fullscreen > .overlay-header {
    text-align: right;
}
.fullscreen > .overlay-header a{
    font-size: 2em;
    color: #311023;
}

.overlay-menu{
    text-align: center;
    color: #311023;
    padding-top: 10px;
}

.overlay-menu a{
    text-decoration:  none;
    color:            #311023;
}

.overlay-menu a:link{
    text-decoration:  none;
    color:            #311023;
}

.overlay-menu a:visited{
    text-decoration:  none;
    color:            #311023;
}

.overlay-menu a:hover{
    text-decoration:  none;
    color:            #311023;
}

.overlay-menu a:active{
    text-decoration:  none;
    color:            #311023;
}

/* HOME PAGE */

.home-bg{
    background-image: url('../img/home-bg.jpg');
    background-position: 100% 75%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;
    z-index: -1;
}

.other-bg{
    background-image: url('../img/flower-bg.jpg');
    background-position: 100% 75%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    z-index: -1;
}


/* Our Story */

#bg-proposal{
    background-image: url('../img/proposal.JPG');
    background-position: 100% 60%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;
    z-index: -1;
    position:relative;
}

.top-image{
    background-color: rgba(245, 245, 245, 0.7);
    border-radius: 10px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position:absolute;
}

@media only screen and (min-width : 1px) {
    .top-image{
        left: 50%;
        top: 50%;
    }
}

@media only screen and (min-width : 480px) {
    .top-image{
        left: 50%;
        top: 50%;
    }
}


@media only screen and (min-width : 768px) {
    .top-image{
        left: 35%;
        top: 50%;
    }
}


@media only screen and (min-width : 992px) {
    .top-image{
        left: 26%;
        top: 50%;
    }
}


@media only screen and (min-width : 1200px){
    .top-image{
        left: 17%;
        top: 50%;
    }
}

/* Wedding Party */

.party-button{
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: 'Dancing Script', cursive;
  color: #ffffff;
  font-size: 3em;
  background: #988E9B;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.party-button:hover {
  background: #311023;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
}

.party-button.on{
    background: #311023;
}

.party-attribute{
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
    font-family: Raleway;
    color: #311023;
    font-size: 1em;
    background: white;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    display: block;
    border-color: #9AD3BB;
    border-width: 3px;
    border-style: solid;
}

.party-row{
    border-bottom-color: #311023;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 5px;
}

.attribute-cell{
    text-align: right;
}

#brides-party{
    display: none;
}

/* Schedule */

.timeline-row > .line-right{
    border-right: 4px solid #311023;
}

.timeline-row > .line-top{
    border-top: 4px solid #311023;
}

.timeline-row > .line-bottom{
    border-bottom: 4px solid #311023;
}

.timeline-row > .line-left{
    border-left: 4px solid #311023;
}

.event-details{
    padding-top: 110px;
}

.event-details.left{
    padding-left: 40px;
}
.event-details.right{
    padding-right: 40px;
    text-align: right;
}

.top-bottom{
    height: 100px;
}

.middle{
    height: 400px;
}

.timeline-row > .timeline-cell{
    height: 100%;
}

.timeline-img{
    height: 100%;
    width: auto;
}

.event-row{
    border-bottom: 1px solid #311023;
}

/* footer */

.footer-row{
    background-color: #d7d9db;
    border-top: 1px solid #311023;
    border-bottom: 1px solid #311023;
    padding-bottom: 10px;
    padding-top: 10px;
}

.header-link{
    color: #311023;
}

.img-small{
    max-height: 200px;
    width: auto;
}

/* Home */

.home-reg-img{
    max-height: 350px;
    width: auto;
}

/* Accommodations */

@media only screen and (min-width : 1px) {
    .accomm-info{
        text-align: center;
    }
}

@media only screen and (min-width : 480px) {
    .accomm-info{
        text-align: center;
    }
}


@media only screen and (min-width : 768px) {
    .accomm-info{
        text-align: left;
    }
}


@media only screen and (min-width : 992px) {
    .accomm-info{
        text-align: left;
    }
}


@media only screen and (min-width : 1200px){
    .accomm-info{
        text-align: left;
    }
}

.accomm-img{
    max-width: auto;
    max-height: 300px;
}