//SITE 

// NAV BAR

.top-nav{
    height: 50px;
}

//big nav links

.big-nav > .big-nav-link{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.big-nav > .big-nav-link a{
    text-decoration:  none;
    color:            black;
}

.big-nav > .big-nav-link a:link{
    text-decoration:  none;
    color:            black;
}

.big-nav > .big-nav-link a:visited{
    text-decoration:  none;
    color:            black;
}

.big-nav > .big-nav-link a:hover{
    text-decoration:  none;
    color:            black;
}

.big-nav > .big-nav-link a:active{
    text-decoration:  none;
    color:            black;
}

// small nav links

.top-nav > .small-nav-link{
    text-align: center;
    font-weight: bold;
}

.top-nav > .small-nav-link i{
    float: right;
    font-size: 3em;
    font-weight: bold;
}

.top-nav > .small-nav-link a{
    text-decoration:  none;
    color:            black;
}

.top-nav > .small-nav-link a:link{
    text-decoration:  none;
    color:            black;
}

.top-nav > .small-nav-link a:visited{
    text-decoration:  none;
    color:            black;
}

.top-nav > .small-nav-link a:hover{
    text-decoration:  none;
    color:            black;
}

.top-nav > .small-nav-link a:active{
    text-decoration:  none;
    color:            black;
}

//overlay nav

#fullscreen-menu {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.overlay-header{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

.overlay-header i{
    float: right;
    font-size: 3em;
    font-weight: bold;
}

.overlay-menu > .col-xs-12 a{
    text-decoration:  none;
    color:            black;
}

.overlay-menu > .col-xs-12 a:link{
    text-decoration:  none;
    color:            black;
}

.overlay-menu > .col-xs-12 a:visited{
    text-decoration:  none;
    color:            black;
}

.overlay-menu > .col-xs-12 a:hover{
    text-decoration:  none;
    color:            black;
}

.overlay-menu > .col-xs-12 a:active{
    text-decoration:  none;
    color:            black;
}