//SITE 

// NAV BAR

.top-nav{
    height: 50px;
}

//big nav links

.big-nav > .big-nav-link{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.big-nav > .big-nav-link a{
    text-decoration:  none;
    color:            black;
}

.big-nav > .big-nav-link a:link{
    text-decoration:  none;
    color:            black;
}

.big-nav > .big-nav-link a:visited{
    text-decoration:  none;
    color:            black;
}

.big-nav > .big-nav-link a:hover{
    text-decoration:  none;
    color:            black;
}

.big-nav > .big-nav-link a:active{
    text-decoration:  none;
    color:            black;
}

// small nav links

.small-nav-link{
    font-weight: bold;
}

.small-nav-link i{
    float: right;
    font-size: 3em;
    font-weight: bold;
}

.small-nav-link a{
    text-decoration:  none;
    color:            black;
}

.small-nav-link a:link{
    text-decoration:  none;
    color:            black;
}

.small-nav-link a:visited{
    text-decoration:  none;
    color:            black;
}

.small-nav-link a:hover{
    text-decoration:  none;
    color:            black;
}

.small-nav-link a:active{
    text-decoration:  none;
    color:            black;
}